@using Lab2.Models
@model IndexViewModel

@{
    ViewData["Title"] = "Ligile";
}
<style>
        @@font-face {
            font-family: 'FontAwesome';
            src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), 
            url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), 
            url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
            font-weight: normal;
            font-style: normal
        }
        .glyphicon {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale
        }
        .glyphicon-chevron-right:before {
            content: "\f054";
        }
        .glyphicon-chevron-left:before {
            content: "\f053";
        }
    </style>

<h1>Ligile</h1>

<p>
    <a class="btn btn-primary" style="font-weight:bold" asp-action="AddLeague">Adaugă altă ligă</a>
</p>

<form method="get">
    <div class="form-inline">
        <label class="mr-2">Nume:</label>
        <input name="name" value="@Model.FilterViewModelLeagues.SelectedLeague" class="form-control" />
        <br />
        <input type="submit" value="Caută" class="btn btn-outline-dark" />
    </div>
</form>
<br />
<table class="table table-bordered table-hover">
    <thead class="bg-light">
        <tr class="text-center">
        <th>
            <a asp-action="ShowLeagues"
               asp-route-sortOrder="@(Model.SortViewModel.NameSort)"
               asp-route-name="@(Model.FilterViewModelLeagues.SelectedName)"
               asp-route-league="@(Model.FilterViewModelLeagues.SelectedLeague)">Nume</a>
        </th>
        <th>
            <a asp-action="ShowLeagues" 
                asp-route-sortOrder="@(Model.SortViewModel.CountrySort)"
                asp-route-name="@(Model.FilterViewModelLeagues.SelectedName)"
                asp-route-league="@(Model.FilterViewModelLeagues.SelectedLeague)">Tara</a>
        </th>
        <th>
            Data de start
        </th>
        <th>
            Data de final
        </th>
        <th>
            Acțiune
        </th>
    </tr>
    </thead>
    @foreach (League l in Model.Leagues)
    {
        <tr class="text-center">
            <td>@l.LeagueName</td>
            <td>@l.Country</td>
            <td>@l.StartDate</td>
            <td>@l.EndDate</td>
            <td>
                <a class="btn btn-outline-primary" style="font-weight:bold" asp-action="EditLeague" asp-route-id="@l.LeagueId">Modifică</a>
                <a class="btn btn-outline-danger" style="font-weight:bold" asp-action="DeleteLeague" asp-route-id="@l.LeagueId">Șterge</a>
            </td>
            
        </tr>
    }
</table>
@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="ShowLeagues"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModelLeagues.SelectedName)"
       asp-route-league="@(Model.FilterViewModelLeagues.Leagues)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Înapoi
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="ShowLeagues"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModelLeagues.SelectedName)"
       asp-route-league="@(Model.FilterViewModelLeagues.SelectedLeague)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-outline-dark">
        Înainte
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}