@model IEnumerable<CarRental.Models.Vehicle>

@{
    ViewData["Title"] = "Vehicles";
}
<head>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/css/animate.css">

    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/ionicons.min.css">

    <link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/icomoon.css">
    <link rel="stylesheet" href="~/css/style.css">
    
    <style>
        .full-width-image {
            width: 100vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -50vw;
            margin-right: -50vw;
        }
        .sort-item {
            position: relative;
            z-index: 1;
            display: flex;
            align-items: center;
            padding-left: 70px;
            margin-top: 25px;
        }

        .sort-item label {
            margin-right: 10px;
            font-size: 18px;
            font-weight: bold;
        }

        .sort-item select {
            width: 200px;
            padding: 8px;
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>

<body style="padding-top:0;">
    <div class="full-width-image">
        <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('https://www.peoplesbanknet.com/content/uploads/2020/02/shutterstock_202075426-scaled.jpg');" data-stellar-background-ratio="0.5;">
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                    <div class="col-md-9 ftco-animate pb-5">
                        <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Cars <i class="ion-ios-arrow-forward"></i></span></p>
                        <h1 class="mb-3 bread">Choose Your Car</h1>
                    </div>
                </div>
            </div>

            <div class="filter-item" style="padding-left:20px">
                <label style="font-size:20px;color:black">Filter</label><br />
                <b style="color:black">By Body Type</b><br />
                    <div class="filter-group">
                    <label><input type="checkbox" id="filterBodyTypeSedan" name="filterBodyType" value="Sedan"> Sedan</label><br />
                    <label><input type="checkbox" id="filterBodyTypeMinivan" name="filterBodyType" value="Minivan"> Minivan</label><br />
                    <label><input type="checkbox" id="filterBodyTypeSUV" name="filterBodyType" value="SUV"> SUV</label><br />
                    <label><input type="checkbox" id="filterBodyTypeCoupe" name="filterBodyType" value="Coupe"> Coupe</label><br />
                    <label><input type="checkbox" id="filterBodyTypeSportsCar" name="filterBodyType" value="SportsCar"> Sports</label><br />
                </div>
                <b style="color:black">By Transmission</b><br />
                <div class="filter-group">
                    <label><input type="checkbox" id="filterTransmissionAutomatic" name="filterTransmission" value="Automatic"> Automatic</label><br />
                    <label><input type="checkbox" id="filterTransmissionManual" name="filterTransmission" value="Mechanic"> Mechanic</label><br />
                </div>
                <button type="button" class="btn btn-primary" id="applyFiltersButton">Apply Filters</button>
            </div>
        </section>
    </div>
    <section class="ftco-section bg-light">
        <div class="row">
            @foreach (var vehicle in Model.Distinct())
            {
                <div class="col-md-4">
                    <div class="car-wrap rounded ftco-animate">
                        <div class="img rounded d-flex align-items-end" style="background-image: url(@vehicle.Image);"></div>
                        <div class="text">
                            <h2 class="mb-0"><a href="#"><span class="car-name">@vehicle.Name</span></a></h2>
                            <div class="d-flex mb-3">
                                <span class="cat">@vehicle.BodyType.Body</span>
                                <p class="price ml-auto">$@vehicle.DailyPrice.ToString("N2") <span>/day</span></p>
                            </div>
                            <div class="d-flex mb-3">
                                <span class="transmission">@vehicle.Transmission.TransmissionType</span>
                            </div>
                            <p class="d-flex mb-0 d-block">
                                @* <a class="btn btn-primary py-2 mr-1" href="/Rentals/Create?vehicleId=@vehicle.VehicleId>Book now</a> *@
                                <a class="btn btn-primary py-2 mr-1" asp-controller="Rentals" asp-action="Create" asp-route-id="@vehicle.VehicleId">Book Now</a>
                                <a class="btn btn-secondary py-2 ml-1" asp-controller="Vehicles" asp-action="Details" asp-route-id="@vehicle.VehicleId">Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>


    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/jquery.stellar.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/jquery.animateNumber.min.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/jquery.timepicker.min.js"></script>
    <script src="~/js/scrollax.min.js"></script>
    <script src="~/https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&sensor=false"></script>
    <script src="~/js/google-map.js"></script>
    <script src="~/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $('#applyFiltersButton').click(function () {
                var selectedBodyTypes = $('input[name="filterBodyType"]:checked').map(function () {
                    return $(this).val();
                }).get();

                var selectedTransmissionTypes = $('input[name="filterTransmission"]:checked').map(function () {
                    return $(this).val();
                }).get();

                $('.col-md-4').each(function () {
                    var bodyType = $(this).find('.cat').text().trim();
                    var transmissionType = $(this).find('.transmission').text().trim();

                    var bodyTypeMatch = selectedBodyTypes.length === 0 || selectedBodyTypes.includes(bodyType);
                    var transmissionTypeMatch = selectedTransmissionTypes.length === 0 || selectedTransmissionTypes.includes(transmissionType);

                    if (bodyTypeMatch && transmissionTypeMatch) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>

</body>

